<div class="prelative">
  <%= image_tag @topinterviews.image.url, alt: "latest interview article image", class:"pabsolute title grid-img" %>
</div> 
<div class = "title pabsolute">
  <%= @topnews.title %>
</div>
    