<div class="col-5 m-auto"> 
 
  <h1 class="text-center mb-4">Create new article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Back', articles_path,class:"col-3 fw-bold list-group-item list-group-item-action btn btn-light border-0" %>
</div>
