
<div class="col-3 m-auto mt-5"> 
 
  <h1 class="text-center my-5">Sign up</h1>

<%= render 'form', user: @user %>

<%= link_to 'Log in', login_path, class:"my-5 text-center fw-bold list-group-item border-0 list-group-item-action btn btn-light" %>
</div>