.logo {
  width: 60px;
}

.logo-txt {
  font-size: 15px;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

.mt {
  margin-top: 200px;
}

.torange {
  color: #FD6000;
}


.texta {
  height: 250px;
}

.header {
	height: 105px;
	border-bottom: 3px solid #4D423C;
}

footer {
	height: 80px;
}

body, {
	min-height: 100%;	  
}

html {
	min-height: 100%;
  border: 10px solid #4D423C;  
}


.yi {
  height: 100%;
}

.bgbrown {
  background: #4D423C;
}

.fixed {
	position:fixed;
	bottom: 0;
	width: 100%;
}

.fixed1 {
	position:fixed;
	top: 0;
}

.row1 {
	height: 38vh;	
} 

.prelative {
	position: relative;
}

.pabsolute {
	position: absolute;
}

.title {
	bottom: 20px;
	left: 20px;
	z-index: 5;
	font-size: 20px;
	text-shadow: -2px -2px 0 #000;
}

.category {
	top: 20px;
	left: 20px;
	z-index: 5;
	font-size: 20px;	
	line-height: 25px;
	padding: 5px;
}

.category1 {	
	font-size: 20px;	
	line-height: 25px;
	text-decoration: underline;	
}

.grid-img {
	object-fit: cover;
	z-index: 1;
	height: 38vh;
	width: 100%;
}

.sticky {
	position:sticky;
	bottom: 0;
}

.wrapper {
	min-height: 75vh;
}
