
        <%= image_tag top.image.url, alt: "latest news image", class:"grid-img" %>
        <%= link_to top do |link| %>
          <p class= "pabsolute torange  fw-bold title"><%= top.title %></p>
        <% end %>
        <p class= "pabsolute torange bgbrown category fw-bold"><%= top.category.name %></p>
     