<footer class="mb-0 mt-5 p-2 bgbrown container-fluid d-flex justify-content-between">
<div>
    <%= link_to root_path, class:"navbar-brand link" do %>
        <% image_tag "logo.svg", class:"mt-3 logo ms-3"%>
        <%end%>
    </div>

<div class="mt-2">
        <ul class="list-group list-group-horizontal mt-4">
                <li class="nav-item">
                <a class="list-group-item bgbrown list-group-item-action  torange fw-bold border-0" aria-current="page" href="#">Privacy policy</a>
                </li>
                <li class="nav-item">
                <a class="list-group-item bgbrown list-group-item-action  torange fw-bold border-0" aria-current="page" href="#">Terms & Conditions</a>
                </li>
                <li class="nav-item">
                <p class="list-group-item bgbrown list-group-item-action text-light  fw-bold border-0">Made by 1v4n4  © 2021 </p>
                </li>                
        </ul>
    </div>

    <div>
        <ul class="list-group list-group-horizontal mt-4">
                <li class="nav-item">
                <a href="https://github.com/1v4n4" class="list-group-item bgbrown list-group-item-action  torange fw-bold border-0" target="_blank" aria-current="page" href="#"><i class="fa fa-github fa-2x"></i></a>
                </li>
                <li class="nav-item">
                <a class="list-group-item bgbrown list-group-item-action  torange fw-bold border-0" aria-current="page" target="_blank" href="https://twitter.com/codeIv1"><i class="fa fa-twitter fa-2x"></i></a>
                </li>
                <li class="nav-item">
                <a class="list-group-item bgbrown list-group-item-action torange  fw-bold border-0" aria-current="page" target="_blank" href="https://www.linkedin.com/in/1v4n4"><i class="fa fa-linkedin fa-2x"></i> </a>
                </li>                
        </ul>
        
    </div>


</footer>