<ul class="list-group list-group-horizontal">
                    <li class="nav-item pt-2 mt-4">
                        <%= link_to "Log in", login_path, class:"fw-bold list-group-item border-0 list-group-item-action btn btn-light" %>
                    </li>
                    <li class="nav-item"><p class="fs-4 pt-3 mt-4 me-1"> | </p></li>
                    <li class="nav-item pt-2 mt-4">
                    <%= link_to "Sign up", new_user_path, class:"fw-bold list-group-item border-0 list-group-item-action btn btn-light" %>
                    </li>
                </ul>